Repository thm-mni-ii/feedbacksystem: changes, and which Codecov flags are due for each by the changed paths.
All: fbs-core.api, fbs-runner.checker

codecov.yml:

flags:
  fbs-core.api:
    paths:
      - modules/fbs-core/api
      - modules/fbs-core/math-parser
  fbs-runner.checker:
    paths:
      - modules/fbs-runner/checker

coverage:
  status:
    project:
      default: false
      fbs-core.api:
        flags:
          - fbs-core.api
        target: auto
        threshold: 2%
      fbs-runner.checker:
        flags:
          - fbs-runner.checker
        target: auto
        threshold: 2%
comment: false

added submit button persistency
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
Due: none

fix(core): prevent storing None values in isCheckerRun indefinitely
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

add new template (#1264)
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Due: none

fix submit button persistency
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
Due: none

[API] Prevent NullPonterException in SqlRemoteCheckerService (#1270)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

fixed closing and adding tabs during submission and added submission cancelation to avoid infinite loop
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
Due: none

fix(api): repair sql-checker formating
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

[API] Repair sql-checker formating (#1273)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

fix(api): repair sql remote checker service not working with misiing ext info
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

Added state of tabs in local storage
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
Due: none

feat(checker): return runner error message for syntax errors
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  modules/fbs-core/web/src/app/page-components/results/results.component.html
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLRunnerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlRunnerVerticle.scala
Due: fbs-core.api, fbs-runner.checker

remove beta text from playground
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
Due: none

fix(api): use correct file extension for content disposition when downloading submissions
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SubmissionController.scala
Due: fbs-core.api

fix(core): clean up tmp files when downloading course submissions
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/SubmissionService.scala
Due: fbs-core.api

[API] Repair SQL remote checker service not working with missing ext info (#1275)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

fix(api): use correct file extensions in course archive
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SubmissionController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Task.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/SubmissionService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/Archiver.scala
Due: fbs-core.api

fix(api): change course submission export format to zip
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SubmissionController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/Archiver.scala
Due: fbs-core.api

tokenservice test faild(null)
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/security/TokenV2ServiceTest.kt
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/security/TokenServiceTest.scala
Due: fbs-core.api

service does not initialize
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/services/v2/persistence/MinioServiceTest.kt
Due: fbs-core.api

lining errors
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/CourseRegistrationController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/Course.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/CourseRegisteration.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/CourseRole.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/security/User.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/CourseRegistrationRepository.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/exceptions/ForbiddenException.kt
Due: fbs-core.api

more linting
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/CourseRegistrationController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/Course.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/GlobalRole.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/CourseRegistrationRepository.kt
Due: fbs-core.api

fix content when closing tab
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
Due: none

more
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/CourseRegistrationRepository.kt
Due: fbs-core.api

fix query display on page initialization
  modules/fbs-core/web/src/app/page-components/results/results.component.ts
Due: none

fix(core): use correct extension for excel files
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/SubmissionService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/Archiver.scala
Due: fbs-core.api

[Checker] Improve syntax error messages (#1279)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  modules/fbs-core/web/src/app/page-components/results/results.component.html
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLRunnerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlRunnerVerticle.scala
Due: fbs-core.api, fbs-runner.checker

fix(api): use zip for task submission export
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SubmissionController.scala
Due: fbs-core.api

feat(core): create task submission zip
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/Archiver.scala
Due: fbs-core.api

add the deadline option to each category
  modules/fbs-core/web/src/app/dialogs/task-points-dialog/task-points-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-points-dialog/task-points-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/task-points-dialog/task-points-dialog.component.ts
Due: none

format doc
  modules/fbs-core/web/src/app/dialogs/task-points-dialog/task-points-dialog.component.ts
Due: none

fix lint
  modules/fbs-core/web/src/app/dialogs/task-points-dialog/task-points-dialog.component.ts
Due: none

add ÜB2 template
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Due: none

reworked eat structure
  docker-compose.yml
  modules/fbs-eat/api/analysis/analysis.py
  modules/fbs-eat/api/connecttominio.py
  modules/fbs-eat/api/run_eat.py
  modules/fbs-eat/data_merger/main.py
  modules/fbs-eat/data_merger/pyproject.toml
  modules/fbs-eat/eat/.pylintrc
  modules/fbs-eat/eat/Dockerfile
  modules/fbs-eat/eat/README.md
  modules/fbs-eat/eat/api/analysis/analysis.py
  modules/fbs-eat/eat/api/assets/style.css
  modules/fbs-eat/eat/api/assets/x.webp
  modules/fbs-eat/eat/api/connect/connecttominio.py
  modules/fbs-eat/eat/api/dashboard/dashboard.py
  modules/fbs-eat/eat/api/dataPreProcessing/CleanDataset.py
  modules/fbs-eat/eat/api/dataPreProcessing/chooseTaskType.py
  modules/fbs-eat/eat/api/dataTable/table.py
  modules/fbs-eat/eat/api/run_eat.py
  modules/fbs-eat/eat/pyproject.toml
Due: none

fix(core): correct export extensions
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SubmissionController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Task.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/SubmissionService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/Archiver.scala
Due: fbs-core.api

fix(api): remove dupplicated extension dot in submission download file name
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SubmissionController.scala
Due: fbs-core.api

fix(core): clean up tempfile for task submission export
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/SubmissionService.scala
Due: fbs-core.api

remove checker type if only one
  modules/fbs-core/web/src/app/page-components/results/results.component.ts
Due: none

[API] Allow Users to Download the Submitted files (#1183)
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CheckerApiController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CheckerConfigurationController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CourseController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SubmissionController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/TaskController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Submission.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Task.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/RemoteCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/SpreadsheetFileService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/export/TaskExportService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/CourseResultService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/MinioService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/StorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/SubmissionService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/FsStorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/MinioStorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/StorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/Archiver.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/persistence/SubmissionServiceTest.scala
Due: fbs-core.api

only load active tab on init
  modules/fbs-core/web/src/app/page-components/results/results.component.ts
Due: none
