Repository thm-mni-ii/feedbacksystem: changes, and which Codecov flags are due for each by the changed paths.
All: fbs-core.api, fbs-runner.checker

codecov.yml:

flags:
  fbs-core.api:
    paths:
      - modules/fbs-core/api
      - modules/fbs-core/math-parser
  fbs-runner.checker:
    paths:
      - modules/fbs-runner/checker

coverage:
  status:
    project:
      default: false
      fbs-core.api:
        flags:
          - fbs-core.api
        target: auto
        threshold: 2%
      fbs-runner.checker:
        flags:
          - fbs-runner.checker
        target: auto
        threshold: 2%
comment: false

feat: update identity service design
  modules/fbs-identity-service/api/build.gradle.kts
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/LoginViewController.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/OidcLocalLoginController.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/config/SecurityConfig.kt
  modules/fbs-identity-service/api/src/main/resources/static/css/login.css
  modules/fbs-identity-service/api/src/main/resources/static/css/material-theme.css
  modules/fbs-identity-service/api/src/main/resources/static/images/arrow.png
  modules/fbs-identity-service/api/src/main/resources/static/images/fbs-logo.svg
  modules/fbs-identity-service/api/src/main/resources/static/images/github.svg
  modules/fbs-identity-service/api/src/main/resources/static/images/login-back.jpg
  modules/fbs-identity-service/api/src/main/resources/static/images/login-bg.jpg
  modules/fbs-identity-service/api/src/main/resources/static/js/login.js
  modules/fbs-identity-service/api/src/main/resources/templates/login.html
  modules/fbs-identity-service/api/src/main/resources/templates/terms-of-use.html
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/LoginViewControllerTest.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/LoginViewIntegrationTest.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/OidcLocalLoginControllerTest.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/OidcLocalLoginIntegrationTest.kt
Due: none

feat: integrate idp into core
  docker-compose.yml
  gradle/wrapper/gradle-wrapper.properties
  modules/fbs-collab/src/app.ts
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/config/ResourceServerSecurityConfig.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/security/CurrentUserResolver.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/security/TokenV2Service.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/resolvers/LegacyTokenResolver.kt
  modules/fbs-core/api/src/main/resources/application.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/config/SecurityConfig.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/LoginController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/security/AuthService.scala
  modules/fbs-core/web/package-lock.json
  modules/fbs-core/web/package.json
  modules/fbs-core/web/src/app/app-routing.module.ts
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/auth.config.ts
  modules/fbs-core/web/src/app/page-components/login/login.component.ts
  modules/fbs-core/web/src/app/service/auth.service.ts
  modules/fbs-eat/eat/api/run_eat.py
  modules/fbs-qcm/api/backend/package-lock.json
  modules/fbs-qcm/api/backend/package.json
  modules/fbs-qcm/api/backend/src/authenticateToken.ts
Due: fbs-core.api

fix: repair idp integration
  docker-compose.yml
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/config/ResourceServerSecurityConfig.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/storage/CheckerStorageService.kt
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/guards/auth.guard.ts
  modules/fbs-core/web/src/app/page-components/login/login.component.ts
  modules/fbs-core/web/src/app/service/auth.service.ts
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/config/SecurityConfig.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/RegisteredClientInitializer.kt
  modules/fbs-identity-service/api/src/main/resources/application.yaml
Due: fbs-core.api

feat: update ci to build new containers
  .github/workflows/ci.yml
  docker-compose.yml
  modules/fbs-core/web/Dockerfile
  modules/fbs-core/web/nginx.conf
  modules/fbs-web-shell/package-lock.json
  modules/fbs-web-shell/package.json
  modules/fbs-web-shell/src/services/api.ts
  modules/fbs-web-shell/src/services/graphql.ts
  modules/fbs-web-shell/tests/setup.ts
  modules/fbs-web-shell/tests/unit/components/FbsAppHost.spec.ts
  modules/fbs-web-shell/tests/unit/components/TheNavbar.spec.ts
  modules/fbs-web-shell/tests/unit/stores/apps.spec.ts
  modules/fbs-web-shell/tests/unit/stores/auth.spec.ts
  modules/fbs-web-shell/tests/unit/stores/theme.spec.ts
  modules/fbs-web-shell/tests/unit/views/AppManagementView.spec.ts
  modules/fbs-web-shell/tests/unit/views/ProfileView.spec.ts
  modules/fbs-web-shell/tests/unit/views/UserManagementView.spec.ts
  modules/fbs-web-shell/tsconfig.app.tsbuildinfo
  modules/fbs-web-shell/vite.config.ts
  package-lock.json
  package.json
Due: none

feat: add login redirect
  modules/fbs-web-shell/src/router/index.ts
  modules/fbs-web-shell/src/services/oidc.ts
  modules/fbs-web-shell/src/stores/auth.ts
  modules/fbs-web-shell/src/views/AppHostView.vue
  modules/fbs-web-shell/src/views/OidcCallbackView.vue
  modules/fbs-web-shell/tests/unit/router/router.spec.ts
  modules/fbs-web-shell/tests/unit/stores/auth.spec.ts
  modules/fbs-web-shell/tsconfig.app.tsbuildinfo
Due: none

feat: update docker build script
  scripts/ci/docker-deploy.sh
Due: none

feat: update ci
  .github/actions/retry-codecov/action.yml
  .github/labeler.yml
  .github/workflows/check-fbs-module.yml
  .github/workflows/check-fbs-python-module.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-to-dockerhub.yml
  .github/workflows/deploy-to-ghcr.yml
  .github/workflows/labeler.yml
  .github/workflows/pages.yml
  .github/workflows/pull-request-verifier.yml
  docker-compose.yml
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/DockerService.scala
  scripts/ci/docker-deploy.sh
  scripts/run-all-tests.sh
Due: fbs-runner.checker

fix: repair ci error
  .github/workflows/check-fbs-module.yml
  docker-compose.demo.yml
  docker-compose.test.yml
  docker-compose.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/ResultController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/TaskProviderCheckerService.scala
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/controller/v2/TaskProviderControllerTest.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/services/v2/taskprovider/TaskProviderServiceTest.kt
  package-lock.json
Due: fbs-core.api

fix: repair ci
  .github/workflows/check-fbs-module.yml
  .github/workflows/ci.yml
  modules/fbs-core/api/Dockerfile
  modules/fbs-core/web/build.gradle
  modules/fbs-identity-service/api/src/main/resources/db/migration/V5__seed_default_admin_user.sql
Due: fbs-core.api

fix: clean up ci
  .github/workflows/ci.yml
Due: none

fix: deployment bugs
  build.gradle
  modules/fbs-core/api/Dockerfile
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/config/ResourceServerSecurityConfig.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/HealthController.kt
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/security/AuthService.scala
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/controller/v2/HealthControllerTest.kt
  modules/fbs-core/web/.dockerignore
  modules/fbs-core/web/nginx.conf
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/auth.config.ts
  modules/fbs-core/web/src/app/guards/auth.guard.ts
  modules/fbs-core/web/src/app/guards/terms-of-use.guard.ts
  modules/fbs-core/web/src/app/page-components/login/login.component.ts
  modules/fbs-core/web/src/app/service/auth.service.ts
  modules/fbs-core/web/src/index.html
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/LegalController.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/RegisteredClientInitializer.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/saml/SamlRelyingPartyConfig.kt
  modules/fbs-identity-service/api/src/main/resources/application.yaml
  modules/fbs-identity-service/api/src/main/resources/db/migration/V6__use_relative_application_provider_urls.sql
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/RegisteredClientInitializerTest.kt
  modules/fbs-runner/checker/Dockerfile
  modules/fbs-runner/checker/build.gradle
  modules/fbs-web-shell/nginx.conf
  modules/fbs-web-shell/src/components/layout/TheNavbar.vue
  modules/fbs-web-shell/src/views/AppHostView.vue
  modules/fbs-web-shell/src/views/admin/AppManagementView.vue
  modules/fbs-web-shell/tsconfig.app.tsbuildinfo
  modules/sql-playground/web/nginx.conf
  modules/sql-playground/web/src/index.html
Due: fbs-core.api, fbs-runner.checker

fix: resolve web linting errors
  modules/fbs-core/web/src/app/auth.config.ts
  modules/fbs-core/web/src/app/service/auth.service.ts
Due: none

fix: repair scala style error
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/security/AuthService.scala
Due: fbs-core.api

fix: resolve merge linting error
  modules/fbs-core/web/src/app/page-components/fbs-sql-playground/fbs-sql-playground.component.html
Due: none

fix: add saml login button to login page
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/LoginViewController.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/config/SecurityConfig.kt
  modules/fbs-identity-service/api/src/main/resources/static/css/material-theme.css
  modules/fbs-identity-service/api/src/main/resources/templates/login.html
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/LoginViewControllerTest.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/SamlLoginViewIntegrationTest.kt
Due: none

fix: migrate from minio to silo
  .github/workflows/check-fbs-module.yml
  docker-compose.test.yml
  docker-compose.yml
Due: none

fix: add saml login button to login page and get rid of minio (#1865)
  .github/workflows/check-fbs-module.yml
  docker-compose.test.yml
  docker-compose.yml
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/LoginViewController.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/config/SecurityConfig.kt
  modules/fbs-identity-service/api/src/main/resources/static/css/material-theme.css
  modules/fbs-identity-service/api/src/main/resources/templates/login.html
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/LoginViewControllerTest.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/SamlLoginViewIntegrationTest.kt
Due: none

feat: add oidc configuration to application managment ui
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/ApplicationProviderController.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/dto/app/ApplicationProviderResponse.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/dto/app/CreateApplicationProviderRequest.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/dto/app/UpdateApplicationProviderRequest.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/model/app/ApplicationProvider.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/persistence/entity/ApplicationProviderEntity.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/persistence/mapper/ApplicationProviderMapper.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/config/SecurityConfig.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/OidcClientSyncService.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/RegisteredClientInitializer.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/service/app/ApplicationProviderService.kt
  modules/fbs-identity-service/api/src/main/resources/db/migration/V7__add_oidc_fields_to_application_providers.sql
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/ApplicationProviderControllerTest.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/ApplicationProviderOidcIntegrationTest.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/OidcClientSyncServiceTest.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/RegisteredClientInitializerTest.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/service/app/ApplicationProviderServiceTest.kt
  modules/fbs-web-shell/src/services/api.ts
  modules/fbs-web-shell/src/types/app.ts
  modules/fbs-web-shell/src/views/admin/AppManagementView.vue
  modules/fbs-web-shell/tests/unit/views/AppManagementView.spec.ts
  modules/fbs-web-shell/tsconfig.app.tsbuildinfo
Due: none

feat: add automatic saml auth
  modules/fbs-identity-service/api/docs/saml-local-keycloak.md
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/config/SecurityConfig.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/SamlOidcAuthorizationIntegrationTest.kt
Due: none

fix: improve cors handling
  docker-compose.yml
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/ApplicationProviderController.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/OidcLocalLoginController.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/dto/app/ApplicationProviderResponse.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/dto/app/PublicApplicationProviderResponse.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/model/app/ApplicationProvider.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/persistence/mapper/ApplicationProviderMapper.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/config/SecurityConfig.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/OidcClientSyncService.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/RegisteredClientInitializer.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/saml/SamlAuthSuccessHandler.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/service/app/ApplicationProviderService.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/util/StringUtils.kt
  modules/fbs-identity-service/api/src/main/resources/application.yaml
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/ApplicationProviderControllerTest.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/OidcLocalLoginControllerTest.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/security/saml/SamlAuthSuccessHandlerTest.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/service/app/ApplicationProviderServiceTest.kt
  modules/fbs-identity-service/api/src/test/resources/application.yaml
  modules/fbs-web-shell/src/types/app.ts
  modules/fbs-web-shell/src/views/admin/AppManagementView.vue
Due: none

fix: improve oidc client secret storage
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/persistence/mapper/ApplicationProviderMapper.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/OidcClientSyncService.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/service/app/ApplicationProviderService.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/service/app/ApplicationProviderServiceTest.kt
Due: none

feat: make login form dropdown
  docker-compose.demo.yml
  modules/fbs-core/web/src/app/page-components/login/login.component.html
  modules/fbs-core/web/src/app/page-components/login/login.component.scss
  modules/fbs-identity-service/api/src/main/resources/static/css/material-theme.css
  modules/fbs-identity-service/api/src/main/resources/static/js/login.js
  modules/fbs-identity-service/api/src/main/resources/templates/login.html
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/LoginViewIntegrationTest.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/controller/SamlLoginViewIntegrationTest.kt
  modules/fbs-web-shell/tsconfig.app.tsbuildinfo
Due: none

fix: repair linting error
  modules/fbs-core/web/src/app/page-components/login/login.component.html
Due: none

fix: allow cors for saml callback
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/config/SecurityConfig.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/security/saml/SamlCorsConfigTest.kt
Due: none

fix: allow cors for saml callback (#1867)
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/config/SecurityConfig.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/security/saml/SamlCorsConfigTest.kt
Due: none

fix: use username as oidc sub claim for external applications
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/dto/app/ApplicationProviderResponse.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/dto/app/CreateApplicationProviderRequest.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/dto/app/UpdateApplicationProviderRequest.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/model/app/ApplicationProvider.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/persistence/entity/ApplicationProviderEntity.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/persistence/mapper/ApplicationProviderMapper.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/persistence/repository/ApplicationProviderRepository.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/OidcTokenConfig.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/service/app/ApplicationProviderService.kt
  modules/fbs-identity-service/api/src/main/resources/db/migration/V8__add_is_internal_to_application_providers.sql
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/OidcTokenCustomizerTest.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/service/app/ApplicationProviderServiceTest.kt
  modules/fbs-web-shell/src/types/app.ts
  modules/fbs-web-shell/src/views/admin/AppManagementView.vue
Due: none

fix: use username as oidc sub claim for external applications (#1868)
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/dto/app/ApplicationProviderResponse.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/dto/app/CreateApplicationProviderRequest.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/dto/app/UpdateApplicationProviderRequest.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/model/app/ApplicationProvider.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/persistence/entity/ApplicationProviderEntity.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/persistence/mapper/ApplicationProviderMapper.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/persistence/repository/ApplicationProviderRepository.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/OidcTokenConfig.kt
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/service/app/ApplicationProviderService.kt
  modules/fbs-identity-service/api/src/main/resources/db/migration/V8__add_is_internal_to_application_providers.sql
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/security/oidc/OidcTokenCustomizerTest.kt
  modules/fbs-identity-service/api/src/test/kotlin/de/thm/ii/fbs/fbs_identity_service/service/app/ApplicationProviderServiceTest.kt
  modules/fbs-web-shell/src/types/app.ts
  modules/fbs-web-shell/src/views/admin/AppManagementView.vue
Due: none

fix: ensure proper function of checker providers
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/config/ResourceServerSecurityConfig.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/security/ScopedTaskTokenService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/taskprovider/TaskProviderDispatcherService.kt
  modules/fbs-core/api/src/main/resources/application.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CourseRegistrationController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/ResultController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/StorageController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/CheckerServiceFactoryService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/TaskProviderCheckerService.scala
  modules/fbs-core/web/src/app/model/Participant.ts
  modules/fbs-core/web/src/app/page-components/configuration-list/configuration-list.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/group-selection/group-selection.component.ts
  modules/fbs-core/web/src/app/page-components/group-detail/group-detail.component.ts
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.ts
  modules/fbs-core/web/src/app/page-components/sql-checker/sql-checker-results/sql-checker-results.component.ts
  modules/fbs-core/web/src/app/page-components/sql-checker/sql-checker.component.ts
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
  modules/fbs-core/web/src/app/service/auth.service.ts
  modules/fbs-core/web/src/app/service/course-registration.service.ts
  modules/fbs-core/web/src/app/tool-components/participants/participants.component.html
  modules/fbs-core/web/src/app/tool-components/participants/participants.component.ts
  modules/fbs-web-shell/nginx.conf
  modules/fbs-web-shell/vite.config.ts
Due: fbs-core.api

feat: add task provider managment ui
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/taskprovider/TaskProviderDTOs.kt
  modules/fbs-core/web/src/app/app-routing.module.ts
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.ts
  modules/fbs-core/web/src/app/dialogs/task-provider-detail-dialog/task-provider-detail-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-provider-detail-dialog/task-provider-detail-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/task-provider-detail-dialog/task-provider-detail-dialog.component.ts
  modules/fbs-core/web/src/app/dialogs/task-provider-dialog/task-provider-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-provider-dialog/task-provider-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/task-provider-dialog/task-provider-dialog.component.ts
  modules/fbs-core/web/src/app/model/TaskProvider.ts
  modules/fbs-core/web/src/app/page-components/search-courses/search-courses.component.html
  modules/fbs-core/web/src/app/page-components/search-courses/search-courses.component.scss
  modules/fbs-core/web/src/app/page-components/search-courses/search-courses.component.ts
  modules/fbs-core/web/src/app/page-components/task-provider-management/task-provider-management.component.html
  modules/fbs-core/web/src/app/page-components/task-provider-management/task-provider-management.component.scss
  modules/fbs-core/web/src/app/page-components/task-provider-management/task-provider-management.component.ts
  modules/fbs-core/web/src/app/service/task-provider.service.ts
  modules/fbs-core/web/src/i18n/de.ts
  modules/fbs-core/web/src/i18n/en.ts
Due: fbs-core.api

fix: resolve reloading issue when on sub paths of apps
  docker-compose.demo.yml
  modules/fbs-core/web/Caddyfile
  modules/fbs-core/web/Dockerfile
  modules/fbs-core/web/nginx.conf
  modules/fbs-core/web/src/index.html
  modules/fbs-web-shell/Caddyfile
  modules/fbs-web-shell/Dockerfile
  modules/fbs-web-shell/nginx.conf
  modules/fbs-web-shell/tsconfig.app.tsbuildinfo
  modules/sql-playground/web/Caddyfile
  modules/sql-playground/web/Dockerfile
  modules/sql-playground/web/README.md
  modules/sql-playground/web/nginx.conf
  modules/sql-playground/web/src/index.html
  scripts/run-all-tests.sh
Due: none

fix: repair linting errors
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/taskprovider/TaskProviderDispatcherService.kt
  modules/fbs-core/web/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.ts
  modules/fbs-core/web/src/app/dialogs/task-provider-detail-dialog/task-provider-detail-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-provider-detail-dialog/task-provider-detail-dialog.component.ts
  modules/fbs-core/web/src/app/dialogs/task-provider-dialog/task-provider-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-provider-dialog/task-provider-dialog.component.ts
  modules/fbs-core/web/src/app/model/Participant.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/group-selection/group-selection.component.ts
  modules/fbs-core/web/src/app/page-components/group-detail/group-detail.component.ts
  modules/fbs-core/web/src/app/page-components/sql-checker/sql-checker-results/sql-checker-results.component.ts
  modules/fbs-core/web/src/app/page-components/sql-checker/sql-checker.component.ts
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
  modules/fbs-core/web/src/app/page-components/task-provider-management/task-provider-management.component.html
  modules/fbs-core/web/src/app/page-components/task-provider-management/task-provider-management.component.ts
  modules/fbs-core/web/src/app/service/course-registration.service.ts
  modules/fbs-core/web/src/app/tool-components/participants/participants.component.ts
  modules/fbs-core/web/src/i18n/de.ts
  modules/fbs-core/web/src/i18n/en.ts
Due: fbs-core.api

fix: repair task provider update and course creation
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/taskprovider/TaskProviderDTOs.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/security/CurrentUserResolver.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/resolvers/LegacyTokenResolver.kt
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/security/AuthService.scala
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/controller/v2/TaskProviderControllerTest.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/services/v2/taskprovider/TaskProviderServiceTest.kt
  modules/fbs-core/web/src/app/model/TaskProvider.ts
Due: fbs-core.api

fix: remove google fonts
  modules/fbs-core/web/Caddyfile
  modules/fbs-core/web/package-lock.json
  modules/fbs-core/web/package.json
  modules/fbs-core/web/src/index.html
  modules/fbs-core/web/src/styles.scss
  modules/fbs-identity-service/api/src/main/kotlin/de/thm/ii/fbs/fbs_identity_service/security/config/SecurityConfig.kt
  modules/fbs-identity-service/api/src/main/resources/static/css/fonts.css
  modules/fbs-identity-service/api/src/main/resources/static/css/login.css
  modules/fbs-identity-service/api/src/main/resources/static/fonts/indie-flower-latin-400-normal.woff
  modules/fbs-identity-service/api/src/main/resources/static/fonts/indie-flower-latin-400-normal.woff2
  modules/fbs-identity-service/api/src/main/resources/static/fonts/roboto-latin-300-normal.woff
  modules/fbs-identity-service/api/src/main/resources/static/fonts/roboto-latin-300-normal.woff2
  modules/fbs-identity-service/api/src/main/resources/static/fonts/roboto-latin-400-normal.woff
  modules/fbs-identity-service/api/src/main/resources/static/fonts/roboto-latin-400-normal.woff2
  modules/fbs-identity-service/api/src/main/resources/static/fonts/roboto-latin-500-normal.woff
  modules/fbs-identity-service/api/src/main/resources/static/fonts/roboto-latin-500-normal.woff2
  modules/fbs-identity-service/api/src/main/resources/static/fonts/roboto-latin-700-normal.woff
  modules/fbs-identity-service/api/src/main/resources/static/fonts/roboto-latin-700-normal.woff2
  modules/fbs-identity-service/api/src/main/resources/templates/login.html
  modules/fbs-identity-service/api/src/main/resources/templates/terms-of-use.html
  modules/fbs-qcm/web/index.html
  modules/fbs-qcm/web/package-lock.json
  modules/fbs-qcm/web/package.json
  modules/fbs-qcm/web/src/plugins/index.ts
  modules/fbs-qcm/web/src/plugins/vuetify.ts
  modules/fbs-qcm/web/src/plugins/webfontloader.ts
  modules/fbs-web-shell/Caddyfile
  modules/fbs-web-shell/index.html
  modules/fbs-web-shell/package-lock.json
  modules/fbs-web-shell/package.json
  modules/fbs-web-shell/src/plugins/vuetify.ts
  modules/fbs-web-shell/tsconfig.app.tsbuildinfo
  modules/sql-playground/web/Caddyfile
Due: none
