Repository thm-mni-ii/feedbacksystem: changes, and which Codecov flags are due for each by the changed paths.
All: fbs-core.api, fbs-runner.checker

codecov.yml:

flags:
  fbs-core.api:
    paths:
      - modules/fbs-core/api
      - modules/fbs-core/math-parser
  fbs-runner.checker:
    paths:
      - modules/fbs-runner/checker

coverage:
  status:
    project:
      default: false
      fbs-core.api:
        flags:
          - fbs-core.api
        target: auto
        threshold: 2%
      fbs-runner.checker:
        flags:
          - fbs-runner.checker
        target: auto
        threshold: 2%
comment: false

feat(ExcelService): add option to skip the Evaluation of the workbook
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelService.scala
Due: fbs-core.api

feat(SpreadsheetEvaluator): ignore invalid formulas
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/excel/ErrorAnalysisService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetEvaluator.kt
Due: fbs-core.api

fix(core): prevent mysql caching the RANDOM_BYTES output
  modules/fbs-core/api/src/main/resources/migrations/18_unique_username.sql
Due: fbs-core.api

fix(core): increment instead of random generation to work arround mysql caching
  modules/fbs-core/api/src/main/resources/migrations/18_unique_username.sql
Due: fbs-core.api

fix(core): use correct user id
  modules/fbs-core/api/src/main/resources/migrations/18_unique_username.sql
Due: fbs-core.api

fix(core): remove DELIMITER from migration 18
  modules/fbs-core/api/src/main/resources/migrations/18_unique_username.sql
Due: fbs-core.api

feat(ErrorAnalysisService): allow Handlers to watch on invalid formulas
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/excel/ErrorAnalysisService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/handler/When.kt
Due: fbs-core.api

feat(SpreadsheetValueParser): added valueOfCellOrError function
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetValueParser.kt
Due: fbs-core.api

feat(SpreadsheetUtils): allow to get the cell based of the CellAddress
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetUtils.kt
Due: fbs-core.api

feat(ErrorAnalysisService): do not abort the check on invalid formulas
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/excel/ErrorAnalysisService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetEvaluator.kt
Due: fbs-core.api

feat(ExcelCheckerServiceV2): add feedback for invalid formulas
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/excel/Cell.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/excel/handler/InvalidFormulaFeedbackHandler.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/excel/result/AnalysisResult.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/excel/result/CellResult.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/excel/result/ExcelCheckerResultData.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/excel/ExcelCheckerServiceV2.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/model/v2/checker/excel/CellResultTest.kt
Due: fbs-core.api

fix(UserManagementComponent): improve error message
  modules/fbs-core/web/src/app/page-components/user-management/user-management.component.ts
Due: none

[Core] Add unique constraint to username (#1437)
  modules/fbs-core/api/src/main/resources/migrations/18_unique_username.sql
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/UserController.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/security/LocalLoginServiceTest.scala
  modules/fbs-core/web/src/app/page-components/user-management/user-management.component.ts
Due: fbs-core.api

alter the messages
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelService.scala
Due: fbs-core.api

feat(i18n): add initial i18n
  modules/fbs-core/web/angular.json
  modules/fbs-core/web/messages.xlf
  modules/fbs-core/web/package-lock.json
  modules/fbs-core/web/package.json
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/page-components/language-picker/language-picker.component.html
  modules/fbs-core/web/src/app/page-components/login/login.component.html
  modules/fbs-core/web/src/app/page-components/login/login.component.ts
  modules/fbs-core/web/src/app/util/i18n.ts
  modules/fbs-core/web/src/i18n/de.ts
  modules/fbs-core/web/src/i18n/en.ts
  modules/fbs-core/web/src/polyfills.ts
Due: none

chore(i18n): clean up
  modules/fbs-core/web/angular.json
  modules/fbs-core/web/messages.xlf
  modules/fbs-core/web/src/polyfills.ts
Due: none

fix(i18n): fix linting
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.html
Due: none

feat(math-parser): support unicode exponents
  modules/fbs-core/math-parser/src/main/antlr/de/thm/ii/fbs/mathParser/Math.g4
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/AstBuilder.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/MathParserHelperTest.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/SemanticAstComparatorTest.kt
Due: fbs-core.api

feat(eat): changes to what data is loaded
  modules/fbs-eat/eat/api/analysis/analysis.py
  modules/fbs-eat/eat/api/connect/data_service.py
  modules/fbs-eat/eat/api/dashboard/dashboard.py
  modules/fbs-eat/eat/api/run_eat.py
  modules/fbs-eat/eat/api/util/utilities.py
Due: none

added fbs modelling component to tabs
  modules/fbs-core/web/src/app/app-routing.module.ts
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.html
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.scss
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.ts
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
Due: none

removed unnecessary element
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.ts
Due: none

add new db called psql-sharing
  docker-compose.yml
Due: none

change password to avoid Build format-error
  docker-compose.yml
Due: none

added button and its functionality; Service still needs to be updated
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.scss
  modules/fbs-core/web/src/app/service/sql-playground.service.ts
Due: none

making changes
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelService.scala
Due: fbs-core.api

changed uri display to dialog
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/db-uri-link/db-uri-link-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/db-uri-link/db-uri-link-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/db-uri-link/db-uri-link-dialog.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/fbs-core/web/src/app/service/sql-playground.service.ts
Due: none

add temp admin restriction
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
Due: none

lint fix
  modules/fbs-core/web/src/app/app.module.ts
Due: none

feat(api): add groups
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/GroupController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/group/Group.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/group/api/GroupCreation.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/group/api/GroupJoining.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/GroupRepository.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/annotations/CurrentUser.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/config/ResolverConfiguration.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/exceptions/BadRequestException.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/exceptions/ForbiddenException.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/resolvers/CurrentUserResolver.kt
  modules/fbs-core/api/src/main/resources/migrations/19_groups.sql
Due: fbs-core.api

[Docker] Add new db called psql-sharing (#1499)
  docker-compose.yml
Due: none

fix(i18n): use correct i18n keys for login page
  modules/fbs-core/web/src/app/page-components/login/login.component.html
Due: none

chore: run angular lint
  modules/fbs-core/web/src/app/page-components/results/results.component.html
Due: none

copy the database and create a new user
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/DBOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLPlaygroundService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLRunnerService.scala
Due: fbs-runner.checker

add new gast
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Due: none

[WEB] insert modelling tool via i frame in fbs (#1500)
  modules/fbs-core/web/src/app/app-routing.module.ts
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.html
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.scss
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.ts
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
Due: none

add new gast (#1503)
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Due: none

Revert "[WEB] insert modelling tool via i frame in fbs (#1500)"
  modules/fbs-core/web/src/app/app-routing.module.ts
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.html
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.scss
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.ts
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
Due: none

add templates
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Due: none
