Repository thm-mni-ii/feedbacksystem: changes, and which Codecov flags are due for each by the changed paths.
All: fbs-core.api, fbs-runner.checker

codecov.yml:

flags:
  fbs-core.api:
    paths:
      - modules/fbs-core/api
      - modules/fbs-core/math-parser
  fbs-runner.checker:
    paths:
      - modules/fbs-runner/checker

coverage:
  status:
    project:
      default: false
      fbs-core.api:
        flags:
          - fbs-core.api
        target: auto
        threshold: 2%
      fbs-runner.checker:
        flags:
          - fbs-runner.checker
        target: auto
        threshold: 2%
comment: false

[Math-Checker] Add submission content view for lectures and students (#1548)
  modules/fbs-core/web/src/app/page-components/results/results.component.html
  modules/fbs-core/web/src/app/page-components/results/results.component.ts
Due: none

code refactor
  modules/fbs-sql-checker/distance/.gitignore
  modules/fbs-sql-checker/distance/db_connection.py
  modules/fbs-sql-checker/distance/table_check.py
Due: none

minor fixes
  modules/fbs-sql-checker/distance/attribute_check.py
  modules/fbs-sql-checker/distance/attribute_distance.py
  modules/fbs-sql-checker/distance/format.py
Due: none

removed database data from constant.py
  modules/fbs-sql-checker/distance/constants.py
Due: none

[Runner] Modified writeQuery to make the dump works without issues
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
Due: fbs-runner.checker

[Runner] Modified writeQuery to make the dump works without issues (#1550)
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
Due: fbs-runner.checker

bug fixes
  modules/fbs-sql-checker/distance/attribute_check.py
  modules/fbs-sql-checker/distance/attribute_distance.py
  modules/fbs-sql-checker/distance/constants.py
  modules/fbs-sql-checker/distance/db_connection.py
  modules/fbs-sql-checker/distance/table_distance.py
Due: none

refactor
  modules/fbs-sql-checker/distance/attribute_check.py
  modules/fbs-sql-checker/distance/constants.py
  modules/fbs-sql-checker/distance/table_check.py
  modules/fbs-sql-checker/distance/table_distance.py
Due: none

chore(math-checker): update mathlive to version 0.98.5
  modules/fbs-core/web/package-lock.json
  modules/fbs-core/web/package.json
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.scss
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.ts
Due: none

[Math-Checker] Update mathlive to version 0.98.5 (#1552)
  modules/fbs-core/web/package-lock.json
  modules/fbs-core/web/package.json
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.scss
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.ts
Due: none

fix(math-checker): repair overflow scrollbar
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.scss
Due: none

[Math-Checker] Repair overflow scrollbar (#1553)
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.scss
Due: none

Add "/modelling" route to HomeController
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/HomeController.scala
Due: fbs-core.api

fix reloading bug
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.ts
Due: none

show parameters for stored procedures/functions
  modules/fbs-core/web/src/app/model/sql_playground/Routine.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-routines/db-scheme-routines.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme.component.scss
  modules/fbs-core/web/src/i18n/de.ts
  modules/fbs-core/web/src/i18n/en.ts
  modules/fbs-core/web/src/styles.scss
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
Due: fbs-runner.checker

Refactor PsqlOperationsService to improve readability and formatting
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
Due: fbs-runner.checker

[API] Add modelling to home controller routes (#1554)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/HomeController.scala
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.ts
Due: fbs-core.api

fix syntax highlighting
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.scss
Due: none

Fix text cleaning logic
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.ts
Due: none

[Playground ] insert sql code from power point to playground (#1557)
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.ts
Due: none

improved code logic and added comments
  modules/fbs-sql-checker/distance/attribute_check.py
  modules/fbs-sql-checker/distance/attribute_distance.py
  modules/fbs-sql-checker/distance/constants.py
  modules/fbs-sql-checker/distance/db_connection.py
  modules/fbs-sql-checker/distance/equation_checker.py
  modules/fbs-sql-checker/distance/format.py
  modules/fbs-sql-checker/distance/main.py
  modules/fbs-sql-checker/distance/query_parser.py
  modules/fbs-sql-checker/distance/result_log.py
  modules/fbs-sql-checker/distance/table_check.py
  modules/fbs-sql-checker/distance/table_distance.py
Due: none

Remove unused code
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.scss
Due: none

Update course detail component and translations
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.html
  modules/fbs-core/web/src/i18n/de.ts
  modules/fbs-core/web/src/i18n/en.ts
Due: none

Implementing progress bar in my course-details (#1266)
  modules/fbs-core/web/src/app/dialogs/task-points-dialog/task-points-dialog.component.ts
  modules/fbs-core/web/src/app/model/UserTaskResult.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.scss
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.ts
  modules/fbs-core/web/src/app/page-components/my-courses/my-courses.component.scss
  modules/fbs-core/web/src/app/page-components/my-courses/my-courses.component.ts
  modules/fbs-core/web/src/i18n/de.ts
  modules/fbs-core/web/src/i18n/en.ts
Due: none

fix merge conflicts improve usability add final save functions
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/model/SelectedFormFields.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.scss
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.ts
  modules/fbs-core/web/src/app/service/task.service.ts
  modules/fbs-core/web/src/i18n/de.ts
  modules/fbs-core/web/src/i18n/en.ts
Due: none

[WEB] course creation and task assignment (#1558)
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/enums/taskUpdateConditions.ts
  modules/fbs-core/web/src/app/model/SelectedFormFields.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.scss
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/task-preview/task-preview.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/task-preview/task-preview.component.ts
  modules/fbs-core/web/src/app/service/task.service.ts
  modules/fbs-core/web/src/i18n/de.ts
  modules/fbs-core/web/src/i18n/en.ts
Due: none

chore(runner): split getDatabaseInformation into multiple methods
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
Due: fbs-runner.checker

[Playground] show parameters for stored procedures/functions (#1556)
  modules/fbs-core/web/src/app/model/sql_playground/Routine.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-routines/db-scheme-routines.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme.component.scss
  modules/fbs-core/web/src/i18n/de.ts
  modules/fbs-core/web/src/i18n/en.ts
  modules/fbs-core/web/src/styles.scss
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
Due: fbs-runner.checker

adjust code logic and cleanup files
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelService.scala
Due: fbs-core.api

ci(pages): bump upload & deploy action versions
  .github/workflows/pages.yml
Due: none

fix new task bug
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
Due: none

lint fix
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
Due: none

fix new task bug (#1570)
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
Due: none

Only display parameters where available
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-routines/db-scheme-routines.component.html
Due: none

[Playground] Only display parameters where available (#1594)
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-routines/db-scheme-routines.component.html
Due: none

adjust modelling tool i-frame
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.ts
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.ts
Due: none

adjust modelling tool i-frame (#1596)
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.ts
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.ts
Due: none

sync
  modules/fbs-core/mf_web/vite-spa/.eslintrc.cjs
  modules/fbs-core/mf_web/vite-spa/.gitignore
  modules/fbs-core/mf_web/vite-spa/.prettierrc.json
  modules/fbs-core/mf_web/vite-spa/README.md
  modules/fbs-core/mf_web/vite-spa/env.d.ts
  modules/fbs-core/mf_web/vite-spa/index.html
  modules/fbs-core/mf_web/vite-spa/package-lock.json
  modules/fbs-core/mf_web/vite-spa/package.json
  modules/fbs-core/mf_web/vite-spa/public/favicon.ico
  modules/fbs-core/mf_web/vite-spa/src/App.vue
  modules/fbs-core/mf_web/vite-spa/src/assets/base.css
  modules/fbs-core/mf_web/vite-spa/src/assets/logo.svg
  modules/fbs-core/mf_web/vite-spa/src/assets/main.css
  modules/fbs-core/mf_web/vite-spa/src/components/HelloWorld.vue
  modules/fbs-core/mf_web/vite-spa/src/components/TheWelcome.vue
  modules/fbs-core/mf_web/vite-spa/src/components/WelcomeItem.vue
  modules/fbs-core/mf_web/vite-spa/src/components/icons/IconCommunity.vue
  modules/fbs-core/mf_web/vite-spa/src/components/icons/IconDocumentation.vue
  modules/fbs-core/mf_web/vite-spa/src/components/icons/IconEcosystem.vue
  modules/fbs-core/mf_web/vite-spa/src/components/icons/IconSupport.vue
  modules/fbs-core/mf_web/vite-spa/src/components/icons/IconTooling.vue
  modules/fbs-core/mf_web/vite-spa/src/main.ts
  modules/fbs-core/mf_web/vite-spa/src/plugins/index.ts
  modules/fbs-core/mf_web/vite-spa/src/plugins/vuetify.ts
  modules/fbs-core/mf_web/vite-spa/src/plugins/webfontloader.ts
  modules/fbs-core/mf_web/vite-spa/src/router/index.ts
  modules/fbs-core/mf_web/vite-spa/src/spa.ts
  modules/fbs-core/mf_web/vite-spa/src/stores/counter.ts
  modules/fbs-core/mf_web/vite-spa/src/views/AboutView.vue
  modules/fbs-core/mf_web/vite-spa/src/views/HomeView.vue
  modules/fbs-core/mf_web/vite-spa/tsconfig.app.json
  modules/fbs-core/mf_web/vite-spa/tsconfig.json
  modules/fbs-core/mf_web/vite-spa/tsconfig.node.json
  modules/fbs-core/mf_web/vite-spa/vite.config.ts
  modules/fbs-core/mf_web/vite-spa/vite.config.ts.timestamp-1710839883267-4b98f5a208a05.mjs
  modules/fbs-core/vite-spa/vite.config.ts
Due: none
