Repository thm-mni-ii/feedbacksystem: changes, and which Codecov flags are due for each by the changed paths.
All: fbs-core.api, fbs-runner.checker

chore(sql-playground): upgrade Angular 18 to 19
  modules/sql-playground/web/package-lock.json
  modules/sql-playground/web/package.json
  modules/sql-playground/web/src/app/app.component.ts
  modules/sql-playground/web/src/app/dialogs/confirm-dialog/confirm-dialog.component.ts
  modules/sql-playground/web/src/app/dialogs/new-db-dialog/new-db-dialog.component.ts
  modules/sql-playground/web/src/app/dialogs/new-sql-template/new-sql-template.component.ts
  modules/sql-playground/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.ts
  modules/sql-playground/web/src/app/dialogs/text-confirm-dialog/text-confirm-dialog.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/bordered-container/bordered-container.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/db-control-panel/db-control-co-working/db-control-co-working.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/db-control-panel/db-control-panel.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/db-scheme/db-scheme-mongo/db-scheme-collections/db-scheme-collections.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/db-scheme/db-scheme-mongo/db-scheme-indexes/db-scheme-indexes.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/db-scheme/db-scheme-mongo/db-scheme-views/db-scheme-mongo-views.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/db-scheme/db-scheme-routines/db-scheme-routines.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/db-scheme/db-scheme-tables/db-scheme-tables.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/db-scheme/db-scheme-triggers/db-scheme-triggers.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/db-scheme/db-scheme-views/db-scheme-views.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/db-scheme/db-scheme.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/dynamic-result-table/dynamic-result-table.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/dynamic-result-table/tab/dynamic-result-table-tab.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/sql-playground.component.ts
  modules/sql-playground/web/src/app/sql-playground-page/sql-playground-page.component.ts
Due: none

chore(sql-playground): upgrade Angular 19 to 20
  modules/sql-playground/web/angular.json
  modules/sql-playground/web/package-lock.json
  modules/sql-playground/web/package.json
  modules/sql-playground/web/tsconfig.json
Due: none

chore(sql-playground): upgrade Angular 20 to 21
  modules/sql-playground/web/package-lock.json
  modules/sql-playground/web/package.json
  modules/sql-playground/web/tsconfig.json
Due: none

fix(sql-playground): restore UI layout after Angular Material MDC migration
  modules/sql-playground/web/src/app/dialogs/new-db-dialog/new-db-dialog.component.scss
  modules/sql-playground/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.scss
  modules/sql-playground/web/src/app/features/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.scss
  modules/sql-playground/web/src/app/features/sql-playground/dynamic-result-table/dynamic-result-table.component.scss
  modules/sql-playground/web/src/app/features/sql-playground/dynamic-result-table/tab/dynamic-result-table-tab.component.scss
  modules/sql-playground/web/src/styles.scss
  modules/sql-playground/web/src/theme.scss
Due: none

chore(sql-playground): fix build warnings
  modules/sql-playground/web/angular.json
  modules/sql-playground/web/package-lock.json
  modules/sql-playground/web/src/app/dialogs/new-sql-template/new-sql-template.component.scss
  modules/sql-playground/web/src/app/features/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.scss
  modules/sql-playground/web/src/app/features/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.scss
  modules/sql-playground/web/src/styles.scss
Due: none

fix(sql-playground): fix style on SQL tabs input
  modules/sql-playground/web/src/styles.scss
Due: none

style(sql-playground): fix UI layout to match old one
  modules/sql-playground/web/src/app/features/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.scss
  modules/sql-playground/web/src/app/features/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.scss
  modules/sql-playground/web/src/app/features/sql-playground/dynamic-result-table/dynamic-result-table.component.scss
  modules/sql-playground/web/src/app/features/sql-playground/sql-input-tabs/sql-input-tabs.component.scss
  modules/sql-playground/web/src/styles.scss
  modules/sql-playground/web/src/theme.scss
Due: none

fix(ui): partial restoration of legacy SQL playground layout after MDC upgrade
  modules/sql-playground/web/src/styles.scss
Due: none

style(sql-playground): enhance UI layout and spacing for dialogs and tabs
  modules/sql-playground/web/src/app/dialogs/new-db-dialog/new-db-dialog.component.scss
  modules/sql-playground/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.scss
  modules/sql-playground/web/src/app/features/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/db-control-panel/db-control-panel.component.html
  modules/sql-playground/web/src/app/features/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/sql-playground/web/src/app/features/sql-playground/sql-input-tabs/sql-input-tabs.component.scss
  modules/sql-playground/web/src/styles.scss
Due: none

style(sql-playground): finalize UI adjustements - fixed dialogs, tabs, and control panel layout inconsistencies - improved button sizing and responsiveness
  modules/sql-playground/web/src/app/features/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.scss
  modules/sql-playground/web/src/app/features/sql-playground/sql-input-tabs/sql-input-tabs.component.scss
  modules/sql-playground/web/src/styles.scss
Due: none

refactor(sql-playground): update ESLint config, improve text-confirm dialog logic, and clean up unused styles
  modules/fbs-core/web/.eslintrc.json
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/page-components/sql-playground-iframe/sql-playground-iframe.component.ts
  modules/sql-playground/web/src/app/dialogs/text-confirm-dialog/text-confirm-dialog.component.html
  modules/sql-playground/web/src/app/dialogs/text-confirm-dialog/text-confirm-dialog.component.ts
  modules/sql-playground/web/src/app/features/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.scss
  modules/sql-playground/web/src/app/features/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/sql-playground/web/src/styles.scss
Due: none

chore(Dockerfile): upgrade Node.js version from 18 to 20 in build stage
  modules/sql-playground/web/Dockerfile
Due: none

fix(eslint): update TypeScript project path in ESLint configuration
  modules/fbs-core/web/.eslintrc.json
Due: none

fix(sql-playground): make sql-playground server handle api requests correctly when run with docker
  docker-compose.yml
  modules/sql-playground/web/Dockerfile
  modules/sql-playground/web/nginx.conf
Due: none

feat: block task submission for non-registered users (#1571)
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.scss
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Due: none

feat: block task submission for non-registered users (#1571)
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
Due: none

style(sql-playground): adjust body margin and set max-width for better layout
  modules/sql-playground/web/src/styles.scss
Due: none

feat: block task submission for non-registered users (#1571) (#1790)
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.scss
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Due: none

feat: implement automatic removal of inactive users #1775
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/security/User.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/misc/UserCleanupService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/UserRepository.kt
  modules/fbs-core/api/src/main/resources/application.yml
Due: fbs-core.api

i1775-core-automaticaly-remove-inactive-user-after-configurable-time V2
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/misc/UserCleanupService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/UserRepository.kt
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/LegalController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/LoginController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/UserService.scala
Due: fbs-core.api

i1775-core-automaticaly-remove-inactive-user-after-configurable-time V2
  modules/fbs-core/web/build.gradle
  modules/fbs-core/web/src/app/page-components/sidebar/language-menu/language-menu.component.ts
Due: none

i1775-core-automaticaly-remove-inactive-user-after-configurable-time V3
  .github/workflows/check-fbs-module.yml
  .github/workflows/ci.yml
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/security/User.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/UserRepository.kt
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/LegalController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/LoginController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/User.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/misc/UserCleanupService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/UserService.scala
  modules/fbs-core/math-parser/src/main/antlr/de/thm/ii/fbs/mathParser/Math.g4
Due: fbs-core.api

i1775-core-automaticaly-remove-inactive-user-after-configurable-time V4
  .gitignore
Due: none

feat(core): anonymize inactive users after configurable inactivity period
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/misc/UserCleanupService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/UserRepository.kt
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/LoginController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/UserService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/security/AuthService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/security/LocalLoginService.scala
Due: fbs-core.api

Implementieren von SAML Login
  .gitignore
  README.md
  conf/fbs-core.api/application.yml
  conf/fbs-core.api/application.yml.example
  docker-compose.yml
  docs/examples/apache-shibboleth-feedbacksystem.conf
  docs/examples/nginx-authenticated-sso.conf
  docs/sso-saml.md
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/resources/application.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/Application.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/LoginController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/security/SingleSignOnService.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/ApplicationConfigResolverTest.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/security/SingleSignOnServiceTest.scala
  modules/fbs-core/web/.eslintrc.json
  modules/fbs-core/web/angular.json
  modules/fbs-core/web/src/app/page-components/goto/goto.component.ts
  modules/fbs-core/web/src/app/page-components/login/login.component.html
  modules/fbs-core/web/src/app/page-components/login/login.component.scss
  modules/fbs-core/web/src/app/page-components/login/login.component.ts
  modules/fbs-core/web/src/app/service/auth.service.ts
  modules/fbs-core/web/src/i18n/de.ts
  modules/fbs-core/web/src/i18n/en.ts
  modules/fbs-core/web/tsconfig.json
  modules/fbs-eat/eat/Dockerfile
Due: fbs-core.api

fix(core): implement missing methods in UserService
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/UserService.scala
Due: fbs-core.api

fix(core): remove joda import
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/persistence/SubmissionServiceTest.scala
Due: fbs-core.api

feat(core): clean up llm artefacts
  README.md
  conf/fbs-core.api/application.yml
  conf/fbs-core.api/application.yml.example
  docker-compose.yml
  docs/examples/apache-shibboleth-feedbacksystem.conf
  docs/examples/nginx-authenticated-sso.conf
  docs/sso-saml.md
Due: none

feat(core): add full saml sp capabilities
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/resources/application.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/LoginController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/security/DeflateEncoder.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/security/SamlService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/security/SelfSignedCredentialGenerator.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/security/SingleSignOnService.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/security/SingleSignOnServiceTest.scala
Due: fbs-core.api

Allow read-only access to student playgrounds
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/PlaygroundController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/SqlPlaygroundRunnerArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/SqlPlaygroundCheckerService.kt
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-panel.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-panel.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/state/databases.effects.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-mongo/db-scheme-collections/db-scheme-collections.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-mongo/db-scheme-indexes/db-scheme-indexes.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-mongo/db-scheme-views/db-scheme-mongo-views.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/state/sql-playground.effects.ts
  modules/fbs-core/web/src/app/service/mongo-playground.service.ts
  modules/fbs-core/web/src/app/service/playground-context.service.ts
  modules/fbs-core/web/src/app/service/sql-playground.service.ts
  modules/fbs-core/web/src/app/tool-components/participants/participants.component.html
  modules/fbs-core/web/src/i18n/de.ts
  modules/fbs-core/web/src/i18n/en.ts
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLPlaygroundService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/SqlPlaygroundRunArgs.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/PlaygroundDBConnections.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlPlaygroundShareVerticle.scala
Due: fbs-core.api, fbs-runner.checker

Disable playground execution in read-only mode
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/PlaygroundController.kt
  modules/fbs-core/web/src/app/page-components/sql-playground/collab/backend.service.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/collab/local.backend.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.ts
  modules/fbs-core/web/src/i18n/de.ts
  modules/fbs-core/web/src/i18n/en.ts
Due: fbs-core.api

Allow docents to access student playgrounds
  modules/fbs-core/web/src/app/model/User.ts
  modules/fbs-core/web/src/app/page-components/course-detail/group-selection/group-selection.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/group-selection/group-selection.component.scss
  modules/fbs-core/web/src/app/page-components/course-detail/group-selection/group-selection.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-co-working/db-control-co-working.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-co-working/db-control-co-working.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-panel.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.ts
  modules/fbs-core/web/src/app/page-components/user-management/user-management.component.html
  modules/fbs-core/web/src/app/page-components/user-management/user-management.component.ts
Due: none

fix: avoid concurrent modification during anti brute force cleanup
  docker-compose.yml
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/security/v2/AntiBruteForceInterceptor.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/security/v2/AntiBruteForceInterceptorTest.kt
Due: fbs-core.api

Fix sql playground db type formatting
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.ts
Due: none

fix lint import order
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/security/v2/AntiBruteForceInterceptorTest.kt
Due: fbs-core.api

fix: avoid concurrent modification during anti brute force cleanup (#1796)
  docker-compose.yml
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/security/v2/AntiBruteForceInterceptor.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/security/v2/AntiBruteForceInterceptorTest.kt
Due: fbs-core.api

Fix SQL template DDL/DML labels
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Due: none

Use server time for token expiration checks
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/config/WebConfig.scala
  modules/fbs-core/web/src/app/model/JWTToken.ts
  modules/fbs-core/web/src/app/page-components/login/login.component.ts
  modules/fbs-core/web/src/app/service/auth.service.ts
Due: fbs-core.api

Path conditions:
  fbs-core.api: any of: modules/fbs-core/api, modules/fbs-core/math-parser
  fbs-runner.checker: any of: modules/fbs-runner/checker
