Repository thm-mni-ii/feedbacksystem: changes, and which Codecov flags are due for each by the changed paths.
All: fbs-core.api, fbs-runner.checker

fix(core): do not delete local files
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/FsStorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/StorageService.scala
Due: fbs-core.api

feat(eat): datatable now shows attributes in alphabetical order, only shows Statement and uniquename on loading an entries with the same query can be hidden
  modules/fbs-eat/eat/api/connect/data_service.py
  modules/fbs-eat/eat/api/dataTable/table.py
  modules/fbs-eat/eat/api/datapreprocessing/cleandataset.py
Due: none

add detection for wildcards
  modules/fbs-sql-checker/api/json_creator.py
Due: none

eat: calculate correct percentages
  modules/fbs-eat/eat/api/dashboard/dashboard.py
Due: none

fix(sql-checker): remove unnecessary variable
  modules/fbs-sql-checker/api/json_creator.py
Due: none

feat(eat): add workaround for course names
  docker-compose.yml
  modules/fbs-eat/eat/api/analysis/analysis.py
  modules/fbs-eat/eat/api/dashboard/dashboard.py
  modules/fbs-eat/eat/api/run_eat.py
  modules/fbs-eat/eat/pyproject.toml
Due: none

fix(eat): use id from token for courses api request
  modules/fbs-eat/eat/api/run_eat.py
Due: none

feat(core): add support for wildcard sql-checking
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/SQLCheckerQuery.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

fix forbidden exeption
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/exceptions/ForbiddenException.kt
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/security/TokenServiceTest.scala
Due: fbs-core.api

fix linting
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/security/LegacyToken.kt
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/security/TokenServiceTest.scala
Due: fbs-core.api

fix test
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/security/TokenServiceTest.scala
Due: fbs-core.api

feat(eat): datatable now shows entire statement on hover and date can be excluded
  modules/fbs-eat/eat/api/assets/style.css
  modules/fbs-eat/eat/api/dataTable/table.py
Due: none

missing annotation
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/security/TokenServiceTest.scala
Due: fbs-core.api

feat(core): set passed for runner correct submissions
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

add token test
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/CourseRegistrationRepository.kt
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/security/TokenServiceTest.scala
Due: fbs-core.api

[Checker] Improve syntax error messages (#1279)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  modules/fbs-core/web/src/app/page-components/results/results.component.html
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLRunnerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlRunnerVerticle.scala
Due: fbs-core.api, fbs-runner.checker

[WEB] Add submission query in result table (#1265)
  modules/fbs-core/web/src/app/dialogs/all-submissions/all-submissions.component.html
  modules/fbs-core/web/src/app/dialogs/all-submissions/all-submissions.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.ts
  modules/fbs-core/web/src/app/page-components/results/results.component.html
  modules/fbs-core/web/src/app/page-components/results/results.component.scss
  modules/fbs-core/web/src/app/page-components/results/results.component.ts
  modules/fbs-core/web/src/app/service/submission.service.ts
Due: none

add ÜB2 template (#1294)
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Due: none

[API] Pass sql-runner extinfo in sql-checker (#1258)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

[WEB] Moved task description above submission (#1241)
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
Due: none

The additional information for Excel tasks is reversed (#1229)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelCheckerService.scala
Due: fbs-core.api

Removing aliases in SQL Checker (#1073)
  modules/fbs-sql-checker/.pylintrc
  modules/fbs-sql-checker/api/json_creator.py
  modules/fbs-sql-checker/api/main.py
  modules/fbs-sql-checker/api/mask_aliases.py
  modules/fbs-sql-checker/api/parser.py
  modules/fbs-sql-checker/poetry.lock
  modules/fbs-sql-checker/pyproject.toml
Due: none

[Core] Add health check (#1289)
  docker-compose.yml
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/config/SecurityConfig.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/health/DatabaseHealthService.scala
Due: fbs-core.api

[API] Allow Users to Download the Submitted files (#1183)
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CheckerApiController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CheckerConfigurationController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CourseController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SubmissionController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/TaskController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Submission.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Task.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/RemoteCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/SpreadsheetFileService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/export/TaskExportService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/CourseResultService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/MinioService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/StorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/SubmissionService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/FsStorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/MinioStorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/StorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/Archiver.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/persistence/SubmissionServiceTest.scala
Due: fbs-core.api

[API] Repair SQL remote checker service not working with missing ext info (#1275)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

Adding a timestamp in SQL Checker (#1253)
  modules/fbs-sql-checker/api/json_creator.py
  modules/fbs-sql-checker/api/main.py
  modules/fbs-sql-checker/api/parser.py
Due: none

linting
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/DatabaseMigrationService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/helpers/DB.kt
Due: fbs-core.api

[Excel Checker] Misleading error message for non-existent cells (#1219)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelException.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelService.scala
Due: fbs-core.api

add new template (#1264)
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Due: none

[API] Repair sql-checker formating (#1273)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

[Core] Send correct queries to sql-checker (#1293)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/checker/SqlCheckerState.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

[WEB] Fixed dropdown for task submission (#1242)
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.scss
Due: none

remove the -Beta- Tag from the Sql Playground element in the side menu (#1256)
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
Due: none

Paste sql in playground (#1288)
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.ts
Due: none

[API] Prevent NullPonterException in SqlRemoteCheckerService (#1270)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

missed
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/DatabaseMigrationService.kt
Due: fbs-core.api

disabled submission button when no checker provided
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Due: none

Path conditions:
  fbs-core.api: any of: modules/fbs-core/api, modules/fbs-core/math-parser
  fbs-runner.checker: any of: modules/fbs-runner/checker
