Repository thm-mni-ii/feedbacksystem: changes, and which Codecov flags are due for each by the changed paths.
All: fbs-core.api, fbs-runner.checker

codecov.yml:

flags:
  fbs-core.api:
    paths:
      - modules/fbs-core/api
      - modules/fbs-core/math-parser
  fbs-runner.checker:
    paths:
      - modules/fbs-runner/checker

coverage:
  status:
    project:
      default: false
      fbs-core.api:
        flags:
          - fbs-core.api
        target: auto
        threshold: 2%
      fbs-runner.checker:
        flags:
          - fbs-runner.checker
        target: auto
        threshold: 2%
comment: false

[WEB] Moved task description above submission (#1241)
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
Due: none

[API] Allow Users to Download the Submitted files (#1183)
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CheckerApiController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CheckerConfigurationController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CourseController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SubmissionController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/TaskController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Submission.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Task.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/RemoteCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/SpreadsheetFileService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/export/TaskExportService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/CourseResultService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/MinioService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/StorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/SubmissionService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/FsStorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/MinioStorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/StorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/Archiver.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/persistence/SubmissionServiceTest.scala
Due: fbs-core.api

add ÜB2 template (#1294)
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Due: none

[API] Prevent NullPonterException in SqlRemoteCheckerService (#1270)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

Removing aliases in SQL Checker (#1073)
  modules/fbs-sql-checker/.pylintrc
  modules/fbs-sql-checker/api/json_creator.py
  modules/fbs-sql-checker/api/main.py
  modules/fbs-sql-checker/api/mask_aliases.py
  modules/fbs-sql-checker/api/parser.py
  modules/fbs-sql-checker/poetry.lock
  modules/fbs-sql-checker/pyproject.toml
Due: none

add new template (#1264)
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Due: none

[WEB] Add submission query in result table (#1265)
  modules/fbs-core/web/src/app/dialogs/all-submissions/all-submissions.component.html
  modules/fbs-core/web/src/app/dialogs/all-submissions/all-submissions.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.ts
  modules/fbs-core/web/src/app/page-components/results/results.component.html
  modules/fbs-core/web/src/app/page-components/results/results.component.scss
  modules/fbs-core/web/src/app/page-components/results/results.component.ts
  modules/fbs-core/web/src/app/service/submission.service.ts
Due: none

[Checker] Improve syntax error messages (#1279)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  modules/fbs-core/web/src/app/page-components/results/results.component.html
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLRunnerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlRunnerVerticle.scala
Due: fbs-core.api, fbs-runner.checker

[API] Repair SQL remote checker service not working with missing ext info (#1275)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

[API] Repair sql-checker formating (#1273)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

Adding a timestamp in SQL Checker (#1253)
  modules/fbs-sql-checker/api/json_creator.py
  modules/fbs-sql-checker/api/main.py
  modules/fbs-sql-checker/api/parser.py
Due: none

small changes
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/services/v2/persistence/MinioServiceTest.kt
Due: fbs-core.api

[API] Pass sql-runner extinfo in sql-checker (#1258)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

stop the data-polling after leaving the task
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Due: none

fix lint
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Due: none

fix(eat): Fixed error where Unauthorized message would not be send
  modules/fbs-eat/eat/api/run_eat.py
Due: none

feat(eat): Added new diagram
  modules/fbs-eat/eat/api/dashboard/dashboard.py
  modules/fbs-eat/eat/api/dataTable/table.py
Due: none

add missing unsubscription
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Due: none

fix(web): more space for task names by better alignment
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.scss
Due: none

retrieved users with submission
  modules/fbs-core/web/src/app/tool-components/participants/participants.component.ts
Due: none

feat(eat): Attempts now hidden when displaying average attmepts
  modules/fbs-eat/eat/api/analysis/analysis.py
  modules/fbs-eat/eat/api/assets/style.css
  modules/fbs-eat/eat/api/dashboard/dashboard.py
  modules/fbs-eat/eat/api/dataTable/table.py
Due: none

fix(eat): Date now influences average Attempts in Standard Analyses
  modules/fbs-eat/eat/api/dashboard/dashboard.py
  modules/fbs-eat/eat/api/dataTable/table.py
Due: none

[task-detail.component] remove unused function
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Due: none

added property isText
  modules/fbs-core/web/src/app/dialogs/all-submissions/all-submissions.component.html
  modules/fbs-core/web/src/app/dialogs/all-submissions/all-submissions.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.ts
  modules/fbs-core/web/src/app/page-components/results/results.component.ts
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
Due: none

[result.component] added possibility to download or copy submission
  modules/fbs-core/web/src/app/page-components/results/results.component.html
  modules/fbs-core/web/src/app/page-components/results/results.component.scss
  modules/fbs-core/web/src/app/page-components/results/results.component.ts
  modules/fbs-core/web/src/app/service/submission.service.ts
Due: none

[Web] More space for task names by better alignment (#1315)
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.scss
Due: none

remove unused import
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Due: none

add a simple tour to show the site's features
  modules/fbs-core/web/package-lock.json
  modules/fbs-core/web/package.json
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/page-components/my-courses/my-courses.component.html
  modules/fbs-core/web/src/app/page-components/search-courses/search-courses.component.html
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
  modules/fbs-core/web/src/app/page-components/user-management/user-management.component.html
  modules/fbs-core/web/src/app/page-components/user-management/user-management.component.ts
Due: none

fix lint
  modules/fbs-core/web/src/app/page-components/my-courses/my-courses.component.html
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
  modules/fbs-core/web/src/app/page-components/user-management/user-management.component.ts
Due: none

fix(submission.service): use correct content type
  modules/fbs-core/web/src/app/service/submission.service.ts
Due: none

feat(result): added download/copy tooltips
  modules/fbs-core/web/src/app/page-components/results/results.component.html
Due: none

Submission in result table is only displayed correctly for sql (#1316)
  modules/fbs-core/web/src/app/dialogs/all-submissions/all-submissions.component.html
  modules/fbs-core/web/src/app/dialogs/all-submissions/all-submissions.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.ts
  modules/fbs-core/web/src/app/page-components/results/results.component.html
  modules/fbs-core/web/src/app/page-components/results/results.component.scss
  modules/fbs-core/web/src/app/page-components/results/results.component.ts
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
  modules/fbs-core/web/src/app/service/submission.service.ts
Due: none

translate titles
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
Due: none

fix(sql): Remove problem where students get bad hints if multiple solutions exists
  modules/fbs-sql-checker/api/debug.py
  modules/fbs-sql-checker/api/json_creator.py
  modules/fbs-sql-checker/api/main.py
Due: none

fix(sql): Linting
  modules/fbs-sql-checker/api/debug.py
Due: none

fix(sql): Set all attributes to correct if the sql runner give a positive feedback
  modules/fbs-sql-checker/api/debug.py
  modules/fbs-sql-checker/api/json_creator.py
Due: none

feat(core): isSol false for correct student solutions
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Due: fbs-core.api

feat(web): filter students without submissions
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.ts
Due: none

[SQL] add detection for wildcards (#1304)
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/SQLCheckerQuery.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  modules/fbs-sql-checker/api/debug.py
  modules/fbs-sql-checker/api/json_creator.py
  modules/fbs-sql-checker/api/main.py
Due: fbs-core.api
