Repository thm-mni-ii/feedbacksystem: changes, and which Codecov flags are due for each by the changed paths.
All: fbs-core.api, fbs-runner.checker

codecov.yml:

flags:
  fbs-core.api:
    paths:
      - modules/fbs-core/api
      - modules/fbs-core/math-parser
  fbs-runner.checker:
    paths:
      - modules/fbs-runner/checker

coverage:
  status:
    project:
      default: false
      fbs-core.api:
        flags:
          - fbs-core.api
        target: auto
        threshold: 2%
      fbs-runner.checker:
        flags:
          - fbs-runner.checker
        target: auto
        threshold: 2%
comment: false

[Docker] Switch openjdk images to eclipse-temurin (#1132)
  modules/fbs-core/api/Dockerfile
  modules/fbs-runner/checker/Dockerfile
Due: fbs-core.api, fbs-runner.checker

feat(excel-checker): adds handler structure
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/handler/Handle.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/handler/Handler.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/handler/When.kt
Due: fbs-core.api

feat(excel-checker): adds handler service
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/handler/HandlerService.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/handler/TestHandlers.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/services/v2/checker/excel/HandlerServiceTest.kt
Due: fbs-core.api

feat(excel-checker): adds handlers and handler service to error analysis
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/handler/context/ErrorAnalysisContext.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/excel/PropagatedErrorsService.kt
Due: fbs-core.api

feat(excel-checker): collects propagated errors alongside original errors
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/excel/PropagatedErrorsService.kt
Due: fbs-core.api

refactor(excel-checker): remove test anoonation
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/handler/TestHandlers.kt
Due: fbs-core.api

feat(excel-checker): makes handle annotation repeatable
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/handler/Handle.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/handler/TestHandlers.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/services/v2/checker/excel/HandlerServiceTest.kt
Due: fbs-core.api

[WEB] limit the number of submissions (#1131)
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/model/Task.ts
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.scss
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Due: none

fixxes
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/ExportController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/export/TaskExportService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/StorageService.scala
Due: fbs-core.api

chore(fbs-core.api): remove unused dependencies
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/JsonParser.scala
Due: fbs-core.api

chore(ClassroomService): remove unused import
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/classroom/ClassroomService.scala
Due: fbs-core.api

chore(fbs-runner-checker): clean up dependencies
  modules/fbs-runner/checker/build.gradle
Due: fbs-runner.checker

chore(application.yml): allow to set the Server Port via an Environment variable
  modules/fbs-core/api/src/main/resources/application.yml
Due: fbs-core.api

build(fbs-core.api): bump com.fasterxml.jackson.core:jackson-databind
  modules/fbs-core/api/build.gradle
Due: fbs-core.api

build(fbs-core.api): bump org-scala-lang:scala-library
  modules/fbs-core/api/build.gradle
Due: fbs-core.api

chore(fbs-core.api): fix scala warning
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SemesterController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/export/TaskExportService.scala
Due: fbs-core.api

chore(fbs-core.api): update poi
  modules/fbs-core/api/build.gradle
Due: fbs-core.api

chore(fbs-core.api): update mysql:mysql-connector-java
  modules/fbs-core/api/build.gradle
Due: fbs-core.api

chore(fbs-core.api): allow to overide the configuration
  modules/fbs-core/api/.gitignore
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/Application.scala
Due: fbs-core.api

chore(fbs-runner.checker): bump scala version
  modules/fbs-runner/checker/build.gradle
Due: fbs-runner.checker

chore(fbs-runner.checker): bump jackson, mysql-connector, postgresql version
  modules/fbs-runner/checker/build.gradle
  modules/fbs-runner/checker/src/test/scala/de/thm/ii/fbs/services/SQLResultServiceTest.scala
Due: fbs-runner.checker

docs: update README badges
  README.md
Due: none

docs(README): update installation instructions
  README.md
Due: none

docs: update README badges (#1151)
  README.md
Due: none

[Excel-Chekcer] Add handlers to extend the functionality of the excel checker (#1141)
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/handler/context/ErrorAnalysisContext.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/excel/PropagatedErrorsService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/handler/HandlerService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/handler/Handle.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/handler/Handler.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/handler/When.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/handler/TestHandlers.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/services/v2/checker/excel/HandlerServiceTest.kt
Due: fbs-core.api

docs(fbs-core.api): fix linting error
  modules/fbs-core/api/api-docs.yml
Due: fbs-core.api

feat(excel-checker): adds on propagated error handler
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/excel/PropagatedErrorsService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/handler/When.kt
Due: fbs-core.api

feat(excel-checker): updates analysis context and changes call for handlers
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/handler/context/ErrorAnalysisContext.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/excel/PropagatedErrorsService.kt
Due: fbs-core.api

chore: update and cleanup dependencies (#1150)
  modules/fbs-core/api/.gitignore
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/resources/application.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/Application.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SemesterController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/classroom/ClassroomService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/export/TaskExportService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/JsonParser.scala
  modules/fbs-runner/checker/build.gradle
  modules/fbs-runner/checker/src/test/scala/de/thm/ii/fbs/services/SQLResultServiceTest.scala
Due: fbs-core.api, fbs-runner.checker

Revert "[WEB] limit the number of submissions (#1131)"
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/model/Task.ts
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.scss
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Due: none

fix(Export-Controller): fix task List parsing
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/ExportController.scala
Due: fbs-core.api

Revert "[WEB] limit the number of submissions" (#1152)
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/model/Task.ts
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.scss
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Due: none

refactor(excel-checker): makes error set global and renames algorithm and service
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/excel/ErrorAnalysisService.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/services/v2/checker/excel/ErrorAnalysisServiceTest.kt
Due: fbs-core.api

feat(Archiver.packDir): delete files after use & clean up
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/Archiver.scala
Due: fbs-core.api

fix(TaskExportService): use correct file names
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/export/TaskExportService.scala
Due: fbs-core.api

working for task without checker
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
  modules/fbs-core/web/src/app/service/task.service.ts
Due: none

fix(ExportController): remove invalid produces
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/ExportController.scala
Due: fbs-core.api

Export functionality for multiple tasks or all tasks of a course (#1091)
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/ExportController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/export/TaskExportService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/StorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/Archiver.scala
Due: fbs-core.api

ci(deploy-to-dockerhub): use correct branch name for tag generation
  .github/workflows/deploy-to-dockerhub.yml
Due: none

ci(deploy-to-dockerhub): use correct branch name for tag generation (#1154)
  .github/workflows/deploy-to-dockerhub.yml
Due: none
