Repository thm-mni-ii/feedbacksystem: changes, and which Codecov flags are due for each by the changed paths.
All: fbs-core.api, fbs-runner.checker

codecov.yml:

flags:
  fbs-core.api:
    paths:
      - modules/fbs-core/api
      - modules/fbs-core/math-parser
  fbs-runner.checker:
    paths:
      - modules/fbs-runner/checker

coverage:
  status:
    project:
      default: false
      fbs-core.api:
        flags:
          - fbs-core.api
        target: auto
        threshold: 2%
      fbs-runner.checker:
        flags:
          - fbs-runner.checker
        target: auto
        threshold: 2%
comment: false

add templates (#1507)
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Due: none

feat(playground): change options and add metrics
  modules/fbs-runner/checker/build.gradle
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/Metrics.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlPlaygroundVerticle.scala
Due: fbs-runner.checker

feat(playground): add error count metric
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlPlaygroundVerticle.scala
Due: fbs-runner.checker

chore(playground): fix style
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/Metrics.scala
Due: fbs-runner.checker

fix(playground): handle query future for metrics
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlPlaygroundVerticle.scala
Due: fbs-runner.checker

[Playground] Change options and add metrics (#1509)
  modules/fbs-runner/checker/build.gradle
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/Metrics.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlPlaygroundVerticle.scala
Due: fbs-runner.checker

adjust template
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Due: none

adjust template (#1514)
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Due: none

fix(i18n): import german date locale
  modules/fbs-core/web/src/app/app.module.ts
Due: none

[i18n] Display task deadline (#1516)
  modules/fbs-core/web/src/app/app.module.ts
Due: none

added routing for dump service; added token generation for expiry and scheduled cleanup
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/RunnerApiController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/DatabaseDumpArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/security/DatabaseDumpToken.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/RemoteCheckerV2Service.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/dump/DatabaseCleanupService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/dump/DatabaseDumpService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/DatabaseDumpTokenRepository.kt
Due: fbs-core.api

changed service function
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/fbs-core/web/src/app/service/sql-playground.service.ts
Due: none

updated the controller logic
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/PlaygroundController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/RunnerApiController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/DatabaseDumpArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/SharePlaygroundArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/security/SharePlaygroundToken.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/RemoteCheckerV2Service.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/SqlPlaygroundCheckerService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/dump/DatabaseDumpService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/DatabaseDumpTokenRepository.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/SharePlaygroundTokenRepository.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/sharePlaygroundCleanup/SharePlaygroundCleanupService.kt
Due: fbs-core.api

changed service path
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/share-playground-link/share-playground-link-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/share-playground-link/share-playground-link-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/share-playground-link/share-playground-link-dialog.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/fbs-core/web/src/app/service/sql-playground.service.ts
Due: none

added share playground args to runner
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/SharePlaygroundArgs.scala
Due: fbs-runner.checker

added runner type and share vertical for testing
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/PlaygroundController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/RunnerType.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/SharePlaygroundArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/RemoteCheckerV2Service.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/SqlPlaygroundCheckerService.kt
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLPlaygroundService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/HttpVerticle.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SharePlaygroundVerticle.scala
Due: fbs-core.api, fbs-runner.checker

refactoring
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/fbs-core/web/src/app/service/sql-playground.service.ts
Due: none

copy database to another instance
  modules/fbs-runner/checker/src/main/resources/config.json
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/DBOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLPlaygroundService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLRunnerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlPlaygroundVerticle.scala
Due: fbs-runner.checker

1483 api sharing of sql playground copy (#1524)
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/PlaygroundController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/RunnerApiController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/RunnerType.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/SharePlaygroundArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/security/SharePlaygroundToken.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/SqlPlaygroundCheckerService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/SharePlaygroundTokenRepository.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/sharePlaygroundCleanup/SharePlaygroundCleanupService.kt
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLPlaygroundService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/SharePlaygroundArgs.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/HttpVerticle.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SharePlaygroundVerticle.scala
Due: fbs-core.api, fbs-runner.checker

1482 web fronted for sql playground sharing (#1523)
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.scss
  modules/fbs-core/web/src/app/service/sql-playground.service.ts
Due: none

1481 sql runner support for playground sharing (#1522)
  modules/fbs-runner/checker/src/main/resources/config.json
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/DBOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLPlaygroundService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLRunnerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlPlaygroundVerticle.scala
Due: fbs-runner.checker

feat(playground): add database sharing
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/PlaygroundController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/RunnerType.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/SqlPlaygroundShareArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/SqlPlaygroundShareDeleteArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/playground/SqlPlaygroundShare.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/playground/api/SqlPlaygroundShareResponse.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/security/SharePlaygroundToken.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/SqlPlaygroundCheckerService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/misc/IdService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/misc/SharePlaygroundCleanupService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/SharePlaygroundTokenRepository.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/SqlSharePlaygroundShareRepository.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/sharePlaygroundCleanup/SharePlaygroundCleanupService.kt
  modules/fbs-core/api/src/main/resources/application.yml
  modules/fbs-core/api/src/main/resources/migrations/19_playground_share_token.sql
  modules/fbs-core/web/src/app/model/sql_playground/SQLResponse.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/fbs-core/web/src/app/service/sql-playground.service.ts
  modules/fbs-runner/checker/Dockerfile
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/MainVerticle.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/DBOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlNativeOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLPlaygroundService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLPlaygroundShareService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLRunnerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/SharePlaygroundArgs.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/SqlPlaygroundShareArgs.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/PlaygroundDBConnections.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/HttpVerticle.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SharePlaygroundVerticle.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlPlaygroundShareVerticle.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlPlaygroundVerticle.scala
Due: fbs-core.api, fbs-runner.checker

chore: fix style
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/RunnerApiController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/playground/SqlPlaygroundShare.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/SqlPlaygroundCheckerService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/misc/IdService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/misc/SharePlaygroundCleanupService.kt
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/fbs-core/web/src/app/service/sql-playground.service.ts
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLPlaygroundShareService.scala
Due: fbs-core.api, fbs-runner.checker

[Playground] Add Database sharing (#1525)
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/PlaygroundController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/RunnerApiController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/RunnerType.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/SqlPlaygroundShareArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/SqlPlaygroundShareDeleteArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/playground/SqlPlaygroundShare.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/playground/api/SqlPlaygroundShareResponse.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/SqlPlaygroundCheckerService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/misc/IdService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/misc/SharePlaygroundCleanupService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/SqlSharePlaygroundShareRepository.kt
  modules/fbs-core/api/src/main/resources/application.yml
  modules/fbs-core/api/src/main/resources/migrations/19_playground_share_token.sql
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.ts
  modules/fbs-core/web/src/app/model/sql_playground/SQLResponse.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.scss
  modules/fbs-core/web/src/app/service/sql-playground.service.ts
  modules/fbs-runner/checker/Dockerfile
  modules/fbs-runner/checker/src/main/resources/config.json
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/MainVerticle.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlNativeOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/SqlPlaygroundShareArgs.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/PlaygroundDBConnections.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/HttpVerticle.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlPlaygroundShareVerticle.scala
Due: fbs-core.api, fbs-runner.checker

fix(sql-playground): use postgres 15 client
  docker-compose.yml
  modules/fbs-runner/checker/Dockerfile
Due: fbs-runner.checker

fix(sql-playground): force database drop on share update
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
Due: fbs-runner.checker

Added distance measure calculation
  modules/fbs-sql-checker/distance/.gitignore
  modules/fbs-sql-checker/distance/attribute_check.py
  modules/fbs-sql-checker/distance/attribute_distance.py
  modules/fbs-sql-checker/distance/constants.py
  modules/fbs-sql-checker/distance/db_connection.py
  modules/fbs-sql-checker/distance/docker-compose.yml
  modules/fbs-sql-checker/distance/equation_checker.py
  modules/fbs-sql-checker/distance/format.py
  modules/fbs-sql-checker/distance/main.py
  modules/fbs-sql-checker/distance/query_parser.py
  modules/fbs-sql-checker/distance/table_check.py
  modules/fbs-sql-checker/distance/table_distance.py
Due: none

adjust url
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.ts
Due: none

adjust url (#1530)
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.ts
Due: none

feat(playground): add recipe
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Due: none

feat(playground): add recipe (#1532)
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Due: none

change visibility
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
Due: none

fix lint
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
Due: none

change visibility (#1541)
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
Due: none

fix(i18n): do not display translation key as tooltip for task navigation buttons
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
Due: none

[I18N] Do not display translation key as tooltip for task navigation buttons (#1544)
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
Due: none

[Math-Checker] Resolve problem with frac and unary minus (#1436)
  modules/fbs-core/math-parser/src/main/antlr/de/thm/ii/fbs/mathParser/Math.g4
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/AstBuilder.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/SemanticAstComparatorTest.kt
Due: fbs-core.api

[Math-Parser] Support Unicode exponents (#1494)
  modules/fbs-core/math-parser/src/main/antlr/de/thm/ii/fbs/mathParser/Math.g4
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/AstBuilder.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/MathParserHelperTest.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/SemanticAstComparatorTest.kt
Due: fbs-core.api

feat(math-checker): add submission content view for lectures and students
  modules/fbs-core/web/src/app/page-components/results/results.component.html
  modules/fbs-core/web/src/app/page-components/results/results.component.ts
Due: none

chore(mathe-checker): fix style
  modules/fbs-core/web/src/app/page-components/results/results.component.html
Due: none
